body {
  color: #333;
  width: 100%;
  margin: auto;
  text-align: center;
  font-family: 'IM Fell DW Pica';}

table {
  width: 100%;
  margin: auto;}

td {
  width: 0.14285714285714285%;
  font-size: 1.5em;}
td.other {
  color: #aaa;}
td.marked {
  background: url('../img/x.png') no-repeat center center;
  -webkit-background-size: contain;
  -moz-background-size: contain;}
td.day {
  font-size: 2em;}

tr.days td {
  font-weight: bold;
  border-bottom: 1px solid #333;}

h1 {
  font-size: 2em;}
h1 span.current {
  margin: 0 1em;}

a.explanation {
  font-size: 1.5em;}

ol.help {
  display: none;
  font-size: 1.5em;}
