body {
  color: #333;
  width: $width;
  margin: auto;
  text-align: center;
  font-family: 'IM Fell DW Pica';}

table {
  width: 480px;
  margin: auto;}

td {
  width: 68px;
  font-size: 2em;}
td.other {
  color: #aaa;}
td.marked {
  background-image: url('../img/x.png');}
td.day {
  height: 68px;
  font-size: 3em;}

tr.days td {
  font-weight: bold;
  border-bottom: 1px solid #333;}

h1 {
  font-size: 3em;}
h1 span.current {
  margin: 0 1em;}

a.explanation {
  font-size: 1.5em;}

ol.help {
  display: none;
  font-size: 1.5em;}
