!!! 5
- var days = ["Sun", "Mon", "Tues", "Wed", "Thurs", "Fri", "Sat"]
- var rows = [1,2,3,4,5]
html(lang="en")
  head
    title Seinfeld Calendar
    script(src: "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js")
    script(src: "http://cachedcommons.org/cache/datejs/1.0.0/javascripts/date-min.js")
    script(src: "js/Lawnchair.js")
    script(src: "js/adaptors/LawnchairAdaptorHelpers.js")
    script(src: "js/adaptors/WebkitSQLiteAdaptor.js")
    script(src: "js/seinfeld.js")
    link(href: 'http://fonts.googleapis.com/css?family=IM+Fell+DW+Pica', rel:'stylesheet')
    link(href: 'http://yui.yahooapis.com/2.8.1/build/reset/reset-min.css', rel:'stylesheet')
    link(href: "css/style.css", rel: "stylesheet")

  body
    header
      h1
        a(href: "#", class: "previous") &laquo
        span(class: "current") This Month
        a(href: "#", class: "next") &raquo
    section
      table
        tr.days
          - each day in days
            td= day
        - each row in rows
          tr.calendar
            -each day in days
              td.day placeholder
      a.explanation(href: "#") Huh?
      ol.help
        li Achieve a daily goal.
        li Mark it on this calendar.
        li Don't break the chain.
        li Inspired by 
          a(href: "http://lifehacker.com/281626/jerry-seinfelds-productivity-secret") Jerry Seinfeld
          .
