!!! 5
- var days = ["Sun", "Mon", "Tues", "Wed", "Thurs", "Fri", "Sat"]
- var rows = [1,2,3,4,5]
html(lang="en")
  head
    title Seinfeld Calendar
    script(src: "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js")
    script(src: "http://cachedcommons.org/cache/datejs/1.0.0/javascripts/date-min.js")
    script(src: "js/Lawnchair.js")
    script(src: "js/adaptors/LawnchairAdaptorHelpers.js")
    script(src: "js/adaptors/WebkitSQLiteAdaptor.js")
    script(src: "js/seinfeld.js")
    link(href: "css/style.css", rel: "stylesheet")
  body
    header
      h1 Seinfeld Calendar
    section

      h2
        a(href: "#", class: "previous") &laquo
        span(class: "current") This Month
        a(href: "#", class: "next") &raquo
      table
        tr.days
          - each day in days
            td= day
        - each row in rows
          tr.calendar
            -each day in days
              td.day placeholder
